// HAMBURGER

.hamburger {
  height: 2px;
  width: 3rem;
  background-color: #000;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 1.5rem;
    background-color: black;
  }

  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
  }
}

// SEARCH

.search {
  max-width: 48rem;
  width: 100%;
  height: 40px;
  position: relative;

  &__box {
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
      0 24px 20px -24px rgba(71, 82, 107, 0.1);
    border-radius: 1000px;
    padding: 0 2rem;
    height: 100%;
    color: #1f1c2e;
    background-color: #fff;
  }

  &__icon {
    position: absolute;
    right: 2rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }
}

// PROGRESS BAR

.progress-bar-basic {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 40%;
    border-radius: inherit;
  }
}

.progress-bar {
  width: 200px;
  height: 4px;
  border-radius: 6px;
  background-color: rgb(195, 163, 163);
  position: relative;

  @media only screen and (max-width: 620px) {
    width: 100%;
  }

  &--blue {
    &::before {
      @extend .progress-bar-basic;
      width: 40%;
      background-color: #4f3ff0;
    }
  }

  &--green {
    &::before {
      @extend .progress-bar-basic;
      width: 40%;
      background-color: #ff942e;
    }
  }

  &--grey {
    &::before {
      @extend .progress-bar-basic;
      width: 40%;
      background-color: #096c86;
    }
  }
}

.profile-btn {
  padding: 5px 0 5px 10px;
  border-left: 2px solid #ddd;
  display: flex;
  align-items: center;
  img {
    width: 30px;
    object-fit: cover;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;

    @media only screen and (max-width: 800px) {
      margin-right: 0;
    }
  }
  span {
    font-weight: bold;

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
}

.btn-more {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 0 8px 0px #000, 0 -8px 0px #000;
}

// CARD

.card {
  border-radius: 30px;
  height: 23rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // padding: 0 2rem;
  color: #564d44;
  position: relative;
  padding: 1rem 0;
  margin: 1rem;

  @media only screen and (max-width: 620px) {
    padding: 4rem;
    height: 43rem;
  }

  &--green {
    background-color: #fee4cb;
    color: #ff942e;
  }

  &__date {
    padding: 0 2rem 0 2rem;

    font-size: 1.4rem;
    color: #4a4a4a;
    opacity: 0.7;
  }

  &__btn-more {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }

  &__title {
    padding: 0 1rem 0 1rem;

    text-align: center;
    line-height: 25px;
    span {
      display: block;
    }

    span:first-child {
      letter-spacing: 1px;
      font-weight: bold;
    }
    span:last-child {
      font-size: 1.3rem;
      letter-spacing: 0.5px;
    }
  }

  &__progress {
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
  }

  &__footer {
    padding: 1.5rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
  }

  &__images {
    display: flex;
    position: relative;

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;

      &:not(:first-child) {
        position: absolute;
        left: 13px;
      }
    }

    button {
      margin-left: 20px;
      background-color: #fff4ea;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__daysleft {
    border-radius: 100px;
    background-color: #fff4ea;
    color: inherit;

    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.4rem 1.4rem;
  }
}

// MESSAGE

.message {
  display: flex;
  padding: 2rem;
  border-top: 1px solid #e9ebf0;
  &__left {
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }
    margin-right: 2rem;
  }

  &__right {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: #1f1c2e;
    }
  }

  &__body {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    color: #4a4a4a;
    opacity: 0.7;
  }
}
